@model HealingTalkNearestYou.Models.Counselling

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Counselling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Counselling Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDateTime, "MyDateTime") - 
            @Html.DisplayFor(model => model.CEndDateTime, "MyDateTime")
        </dd>

        <dt>
            Rate
        </dt>

        <dd>
            @for (int i = 0; i < Model.CRate; i++)
            {
                <span class="glyphicon glyphicon-star" style="color:orange;"></span>
            }
            @if (Model.CRate != null)
            {
                for (int i = (int)Model.CRate; i < 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
            }
            else
            {
                <text>No Rate Score</text>
            }

        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CStatus)
        </dd>

        <dt>
            Psychologist Name
        </dt>

        <dd>
            <p>@ViewBag.psyName</p>
        </dd>

        <dt>
            Patient Name
        </dt>

        <dd>
            @if (ViewBag.patientName.Equals("-1"))
            {
                <p>Nobody booked yet</p>
            }
            else 
            { 
                <p>@ViewBag.patientName</p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBookedCounselling", new { id = Model.CId }) |
    @Html.ActionLink("Back to List", "ManageCounselling")
</p>
