@model IPagedList<HealingTalkNearestYou.Models.Counselling>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "BookCounselling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function BookClick(IDNumber) {
        $.ajax({
            type: 'post',
            url: 'BookCounselling',
            async: true,
            data: { id: IDNumber },
            success: function (response) {
                alert(response);
                location.reload();
                
            }
        });
        
    }
</script>

<h2>BookCounselling</h2>

<div id="result" style="color:red"></div>

@using (Html.BeginForm("BookCounselling", "Patient", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.TextBox("search", "", new { placeholder = "Enter Psychologist Name" })
    <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Time", "BookCounselling", new { sort = ViewBag.SortByTime, search = Request.QueryString["search"] })
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.ActionLink("Psychologist Name", "BookCounselling", new { sort = ViewBag.SortByPsyName, search = Request.QueryString["search"] })
        </th>
        <th>
            Operation
        </th>
    </tr>
    @if (Model == null || Model.Count() == 0)
    {
        <tr>
            <td colspan="4">No counselling available...</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CDateTime, "MyDateTime") -
                    @Html.DisplayFor(modelItem => item.CEndDateTime, "MyDateTime")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Psychologist.Name)
                </td>
                <td>
                    @if (item.CStatus.Equals("Not Booked"))
                    {
                            @*@Html.ActionLink("Book", "Book", new { id = item.CId })*@
                        <input type="button" value="Book" onclick="BookClick(@item.CId)"/>
                    }
                    else
                    {
                        <text>Booked</text>
                    }
                </td>
            </tr>
        }
    }

</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("BookCounselling", new { pageNumber, search = Request.QueryString["search"], sort = Request.QueryString["sort"] }))
