@model HealingTalkNearestYou.Models.Psychologist

@{
    ViewBag.Title = "DeletePsy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeletePsy</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Psychologist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PsyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PsyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PsyDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ManagePsychologist")
        </div>
    }
</div>
