@model IEnumerable<HealingTalkNearestYou.Models.Patient>

@{
    ViewBag.Title = "ManagePatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Patients</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Operation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientDOB)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPatient", new { id = item.PatientId }) |
            @Html.ActionLink("Delete", "DeletePatient", new { id = item.PatientId })
        </td>
    </tr>
}

</table>
